.language_mode {
	width: 80px;
	height: 30px;
	background-color: #e6e6e6;
	position: absolute;
	top: 25px;
	right: 25px;
	border-radius: 25px;
	cursor: pointer;
	transition: 0.2s;
}

.language_circle {
	width: 20px;
	height: 20px;
	background: url('../../../../../../rsschool_vagoalex/virtual_keyboard/assets/icons/language_eng.png');
	margin: 0 5px;
	position: absolute;
	left: 0;
	top: 16%;
	transition: 0.2s;
}

.night_mode {
	width: 80px;
	height: 30px;
	background-color: #e6e6e6;
	position: absolute;
	top: 25px;
	right: 125px;
	border-radius: 25px;
	cursor: pointer;
	transition: 0.2s;
}

.toggle_circle {
	width: 20px;
	height: 20px;
	background-color: rgb(54, 54, 54);
	border-radius: 50px;
	margin: 0 5px;
	position: absolute;
	left: 0;
	top: 15%;
	transition: 0.2s;
}

.change_light-color {
	width: 100px;
	height: 50px;
	position: absolute;
	// right: 350px;
	right: 225px;
	top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.colors__input {
	width: 100px;
	height: 50px;
	border: none;
	outline: none;
	background-color: transparent;
}

.keyboard-wrapper {
	max-width: 1008px;
	width: 100%;
	background-color: #e7e7e7;
	overflow: hidden;
	position: relative;
	overflow: hidden;
	order: 2;
}
.keyboard_lights {
	position: absolute;
	width: 100%;
	height: 100%;
}
.keyboard-keys {
	display: flex;
	flex-wrap: wrap;
}
.row {
	@include flex();
}
.keys {
	width: 60px;
	height: 60px;
	background-color: #fff;
	@include flex();
	justify-content: center;
	align-items: center;
	margin: 4px;
	transition: 0.2s;
	z-index: 5;
	cursor: pointer;
}
.backspace_key {
	width: 116px;
}
.tab_key {
	width: 90px;
}
.splash_key {
	width: 86px;
}
.caps-lock_key {
	width: 117px;
}
.enter_key {
	width: 127px;
}
.shift_key {
	width: 88px;
}
.ctrl_left {
	margin-left: 5px;
}
.space_key {
	max-width: 455px;
	width: 100%;
}
.arrow_up {
	background: url('../../../../../../rsschool_vagoalex/virtual_keyboard/assets/icons/arrow_up.png');
	background-color: #fff;
	margin: 4px;
	transition: 0.2s;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	color: transparent;
}
.arrow_down {
	background: url('../../../../../../rsschool_vagoalex/virtual_keyboard/assets/icons/arrow_down.png');
	background-color: #fff;
	margin: 4px;
	transition: 0.2s;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	color: transparent;
}
.arrow_left {
	background: url('../../../../../../rsschool_vagoalex/virtual_keyboard/assets/icons/arrow_left.png');
	background-color: #fff;
	margin: 4px;
	transition: 0.2s;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	color: transparent;
}
.arrow_right {
	background: url('../../../../../../rsschool_vagoalex/virtual_keyboard/assets/icons/arrow_right.png');
	background-color: #fff;
	margin: 4px;
	transition: 0.2s;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	color: transparent;
}
.text-label {
	margin-bottom: 10px;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.2s;
}
.text {
	max-width: 1008px;
	min-width: 1008px;
	max-height: 480px;
	min-height: 90px;
	width: 100%;
	height: 150px;
	margin-bottom: 30px;
	border: none;
	outline: none;
	font-size: 20px;
	background-color: #f7f7f7;
	padding: 20px;
	transition: 0.2s;
	word-break: break-all;
}

body.active {
	background-color: rgb(54, 54, 54);
}
.night_mode.active {
	background-color: #222222;
}
.language_mode.active {
	background-color: #222222;
}
.toggle_circle.active {
	left: 60%;
	background-color: #fff;
}
.language_circle.active {
	left: 60%;
	background: url('../../../../../../rsschool_vagoalex/virtual_keyboard/assets/icons/language_rus.png');
}
.keyboard-wrapper.active {
	background-color: #585858;
}
.keys.active {
	background-color: #333;
	color: #fff;
}
.keys.keys_night {
	background-color: #3c3c3c;
	color: #fff;
}
.keys.keys_night.active {
	background-color: #fff;
	color: #333;
	transition: 0.2s;
}
.text-label.active {
	color: #fff;
}
.text.active {
	background-color: #2b2b2b;
	color: #fff;
}
.keys.keys_night.remove {
	animation: keys_night_animation 0.5s forwards;
	transition: 0.2s;
}
.keys.remove {
	animation: keys_animation 0.5s forwards;
}

@keyframes keys_animation {
	0% {
		background-color: #333;
		color: #fff;
	}
	100% {
		background-color: #fff;
		color: #000;
	}
}
@keyframes keys_night_animation {
	0% {
		background-color: #fff;
		color: #000;
	}
	100% {
		background-color: #333;
		color: #fff;
	}
}
