/* @font-face {
	font-family: 'Georgia';
	src: url('../../../../assets/fonts/georgia.ttf') format('truetype');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'GeorgiaBold';
	src: url('../../../../assets/fonts/georgia_bolditalic.ttf') format('truetype');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Arial';
	src: url('../../../../assets/fonts/arial.ttf') format('truetype');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'ArialBold';
	src: url('../../../../assets/fonts/arial.ttf') format('truetype');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
} */
